@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
/* ---break---  */
@custom-variant dark (&:is(.dark *));

@theme {
  /* Primary Colors  */
  --color-background: #000000;
  --color-text-primary: #ffffff;
  --color-primary: #e50914;

  --color-surface: #121212;
  --color-surface-hover: #333333;

  --color-text-secondary: #666666;
  --color-accent: #ffa31a;

  --color-border: #2a2a2a;
}

html {
  scroll-behavior: smooth;

  touch-action: manipulation;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

a,
button,
[role="button"],
input,
select,
textarea {
  touch-action: manipulation;
}

/* Add to your global.css to change the scrubber color */
:root {
  /* --plyr-color-main: rgb(220 38 38); */
  --plyr-color-main: #e50914;
}
